---
title: Verificación para el ámbito educativo
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710356"
---
# <a name="edu-verification"></a><span data-ttu-id="5ef9b-102">Verificación para el ámbito educativo</span><span class="sxs-lookup"><span data-stu-id="5ef9b-102">EDU verification</span></span>

<span data-ttu-id="5ef9b-103">En la mayoría de los casos, las solicitudes de idoneidad académica se procesan en 24-48 horas.</span><span class="sxs-lookup"><span data-stu-id="5ef9b-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="5ef9b-104">Es posible que algunas solicitudes requieran una revisión más exhaustiva y que pueden tardar hasta 10 días hábiles en procesarse.</span><span class="sxs-lookup"><span data-stu-id="5ef9b-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="5ef9b-105">Cuando haya finalizado la revisión, le enviaremos un correo electrónico con el estado de idoneidad de su escuela.</span><span class="sxs-lookup"><span data-stu-id="5ef9b-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="5ef9b-106">**Importante** si ha salido del asistente de verificación antes de escribir un dominio, puede [reanudar el asistente de verificación académica](https://go.microsoft.com/fwlink/p/?linkid=2135255) en cualquier momento durante la versión de prueba gratuita.</span><span class="sxs-lookup"><span data-stu-id="5ef9b-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="5ef9b-107">Si quiere comprobar el estado del dominio, vaya al [Centro de administración de Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="5ef9b-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="5ef9b-108">En la página principal, desplácese hasta la parte inferior y busque la tarjeta **Facturación**.</span><span class="sxs-lookup"><span data-stu-id="5ef9b-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="5ef9b-109">La tarjeta **Facturación** indica el estado del proceso de verificación (aprobado, pendiente, rechazado o agregar dominio).</span><span class="sxs-lookup"><span data-stu-id="5ef9b-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="5ef9b-110">Si se rechaza la solicitud, vea [Mi escuela no es idónea. ¿Qué hago ahora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="5ef9b-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>