---
title: Verificación para el ámbito educativo
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710356"
---
# <a name="edu-verification"></a>Verificación para el ámbito educativo

En la mayoría de los casos, las solicitudes de idoneidad académica se procesan en 24-48 horas. Es posible que algunas solicitudes requieran una revisión más exhaustiva y que pueden tardar hasta 10 días hábiles en procesarse. Cuando haya finalizado la revisión, le enviaremos un correo electrónico con el estado de idoneidad de su escuela.

**Importante** si ha salido del asistente de verificación antes de escribir un dominio, puede [reanudar el asistente de verificación académica](https://go.microsoft.com/fwlink/p/?linkid=2135255) en cualquier momento durante la versión de prueba gratuita.

Si quiere comprobar el estado del dominio, vaya al [Centro de administración de Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). En la página principal, desplácese hasta la parte inferior y busque la tarjeta **Facturación**. La tarjeta **Facturación** indica el estado del proceso de verificación (aprobado, pendiente, rechazado o agregar dominio).

Si se rechaza la solicitud, vea [Mi escuela no es idónea. ¿Qué hago ahora?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)