---
title: 8000038 de cuentas secundarias del RGPD
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057011"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>La fecha de nacimiento mostrada en su cuenta microsoft es incorrecta

Microsoft se toma muy en serio la seguridad de las cuentas. Es posible que se le haya dicho recientemente que proporcione el consentimiento paterno para la cuenta microsoft de un niño. Si necesitas ayuda para proporcionar el consentimiento paterno o actualizar la fecha de nacimiento en una cuenta microsoft, consulta Verificación de [edad para el consentimiento paterno](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Obtenga más información sobre [el consentimiento parental y las cuentas secundarias de Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  