---
title: Solucionar problemas de verificación del editor
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875454"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="12ee0-102">Problemas relacionados con la Verificación del editor para desarrolladores</span><span class="sxs-lookup"><span data-stu-id="12ee0-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="12ee0-103">**Pasos recomendados**</span><span class="sxs-lookup"><span data-stu-id="12ee0-103">**Recommended steps**</span></span> 

<span data-ttu-id="12ee0-104">Para resolver los problemas relacionados con la verificación del editor, siga los pasos siguientes:</span><span class="sxs-lookup"><span data-stu-id="12ee0-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="12ee0-105">Revise los requisitos previos y demás requisitos para asegurarse de que se cumplan.</span><span class="sxs-lookup"><span data-stu-id="12ee0-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="12ee0-106">Revise las instrucciones para [marcar una aplicación como verificada por el editor](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) y asegúrese de que todos los pasos se hayan realizado correctamente.</span><span class="sxs-lookup"><span data-stu-id="12ee0-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="12ee0-107">Revise la lista de [problemas comunes](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) y siga los pasos recomendados si tiene algún problema con la lista.</span><span class="sxs-lookup"><span data-stu-id="12ee0-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="12ee0-108">Reproduzca la solicitud con el [Probador de Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) para recopilar información adicional y descartar cualquier problema en la interfaz de usuario.</span><span class="sxs-lookup"><span data-stu-id="12ee0-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="12ee0-109">**Documentos recomendados**</span><span class="sxs-lookup"><span data-stu-id="12ee0-109">**Recommended documents**</span></span>

- [<span data-ttu-id="12ee0-110">Verificación del editor: información general</span><span class="sxs-lookup"><span data-stu-id="12ee0-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="12ee0-111">Marcar la aplicación como verificada por el editor</span><span class="sxs-lookup"><span data-stu-id="12ee0-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="12ee0-112">Solucionador de problemas con la verificación del editor</span><span class="sxs-lookup"><span data-stu-id="12ee0-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

