---
title: Solucionar problemas de verificación del editor
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875454"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemas relacionados con la Verificación del editor para desarrolladores

**Pasos recomendados** 

Para resolver los problemas relacionados con la verificación del editor, siga los pasos siguientes:

1. Revise los requisitos previos y demás requisitos para asegurarse de que se cumplan.
2. Revise las instrucciones para [marcar una aplicación como verificada por el editor](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) y asegúrese de que todos los pasos se hayan realizado correctamente.
3. Revise la lista de [problemas comunes](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) y siga los pasos recomendados si tiene algún problema con la lista.
4. Reproduzca la solicitud con el [Probador de Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) para recopilar información adicional y descartar cualquier problema en la interfaz de usuario.

**Documentos recomendados**

- [Verificación del editor: información general](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Marcar la aplicación como verificada por el editor](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Solucionador de problemas con la verificación del editor](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

